<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nekotori.dao.ChatMemberMapper">
    <resultMap id="BaseResultMap" type="org.nekotori.entity.ChatMemberDo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="is_blocked" jdbcType="BOOLEAN" property="isBlocked"/>
        <result column="last_command" jdbcType="VARCHAR" property="lastCommand"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="today_welcome" jdbcType="BOOLEAN" property="todayWelcome"/>
        <result column="exp" jdbcType="BIGINT" property="exp"/>
        <result column="today_sign" jdbcType="BOOLEAN" property="todaySign"/>
        <result column="total_sign" jdbcType="INTEGER" property="totalSign"/>
    </resultMap>

    <sql id="baseResult">
        id, group_id, member_id, nick_name, is_blocked, last_command, level, today_welcome, exp, today_sign, total_sign
    </sql>

    <insert id="insertChatMember" parameterType="org.nekotori.entity.ChatMemberDo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ROWID()
        </selectKey>
        insert into chat_member(
        <include refid="baseResult"/>
        )
        values (
        #{id,jdbcType=INTEGER},
        #{groupId,jdbcType=INTEGER},
        #{memberId,jdbcType=INTEGER},
        #{nickName,jdbcType=VARCHAR},
        #{isBlocked,jdbcType=BOOLEAN},
        #{lastCommand,jdbcType=VARCHAR},
        #{level,jdbcType=INTEGER},
        #{todayWelcome,jdbcType=BOOLEAN},
        #{exp,jdbcType=BIGINT},
        #{todaySign,jdbcType=BOOLEAN},
        #{totalSign,jdbcType=BIGINT}
        )
    </insert>

    <select id="selectByMemberIdAndGroupId" resultMap="BaseResultMap">
        select * from chat_member
        where group_id = #{groupId}
        and member_id = #{memberId}
        limit 1
    </select>

    <update id="updateChatMember" parameterType="org.nekotori.entity.ChatMemberDo">
        update chat_member set
        group_id  =   #{groupId,jdbcType=INTEGER},
        member_id =   #{memberId,jdbcType=INTEGER},
        nick_name =   #{nickName,jdbcType=VARCHAR},
        is_blocked  =   #{isBlocked,jdbcType=BOOLEAN},
        last_command =   #{lastCommand,jdbcType=VARCHAR},
        level  =   #{level,jdbcType=INTEGER},
        today_welcome  =   #{todayWelcome,jdbcType=BOOLEAN},
        exp =    #{exp,jdbcType=BIGINT},
        today_sign =   #{todaySign,jdbcType=BOOLEAN},
        total_sign =   #{totalSign,jdbcType=BIGINT}
        where
        id =         #{id,jdbcType=INTEGER}
    </update>
</mapper>