<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nekotori.dao.UserMapper">
    <resultMap id="BaseResultMap" type="org.nekotori.entity.UserDo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="account" jdbcType="BIGINT" property="account"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="is_block" jdbcType="BIT" property="isBlock"/>
        <result column="user_level" jdbcType="INTEGER" property="userLevel"/>
    </resultMap>

    <sql id="baseResult">
        id,account,nick_name,is_block,user_level
    </sql>

    <select id="selectByAccount" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="baseResult"></include>
        from user
        <if test="account !=null">
        where user.account = #{account}
        </if>
    </select>
</mapper>